In [1]:
import sys
import pandas as pd

sys.path.append('../src') 
from util import get_rcode_df
from util import read_csv

from preprocessing import join_meta
from es_client import *

from preprocessing import *

In [2]:
rcode_df = get_rcode_df('../data/road_code.csv')
 
es = ESClient() 
sales_df = es._search_by_rcode('real-estate', '41131') 
 
df = preprocessing_trade(join_meta(sales_df, rcode_df))

In [12]:
df.head(10)

,date,거래금액,건축년도,년,법정동,아파트,월,일,전용면적,지번,지역코드,층,시,구,도로명,시군구,평당거래액,평수,규모
0,2012-01-01,23500,1986,2012,신흥동,통보8,1,1~10,67.500,89-1,41131,1,경기도,성남시 수정구,창업로57번길,경기도 성남시 수정구,348.148148,20.418782,60-85m2이하
1,2012-01-01,36500,1986,2012,신흥동,주공고층,1,1~10,61.520,10,41131,9,경기도,성남시 수정구,창업로57번길,경기도 성남시 수정구,593.302991,18.609829,60m이하
2,2012-01-01,19000,2002,2012,단대동,미래아트,1,11~20,55.321,66-1,41131,3,경기도,성남시 수정구,창업로57번길,경기도 성남시 수정구,343.450046,16.734628,60m이하
3,2012-01-01,24200,2006,2012,신흥동,샤르망,1,1~10,67.280,5180,41131,9,경기도,성남시 수정구,창업로57번길,경기도 성남시 수정구,359.690844,20.352232,60-85m2이하
4,2012-01-01,40000,1986,2012,신흥동,주공고층,1,1~10,64.620,10,41131,10,경기도,성남시 수정구,창업로57번길,경기도 성남시 수정구,619.003405,19.547580,60m이하
5,2012-01-01,33500,1993,2012,신흥동,두산,1,11~20,84.470,2024,41131,12,경기도,성남시 수정구,창업로57번길,경기도 성남시 수정구,396.590506,25.552215,60-85m2이하
6,2012-01-01,19200,1986,2012,신흥동,통보8,1,1~10,45.000,89-1,41131,5,경기도,성남시 수정구,창업로57번길,경기도 성남시 수정구,426.666667,13.612521,60m이하
7,2012-01-01,18400,2002,2012,단대동,미래아트,1,21~31,55.320,66-1,41131,2,경기도,성남시 수정구,창업로57번길,경기도 성남시 수정구,332.610268,16.734326,60m이하
8,2012-01-01,37000,1986,2012,신흥동,주공고층,1,1~10,61.520,10,41131,6,경기도,성남시 수정구,창업로57번길,경기도 성남시 수정구,601.430429,18.609829,60m이하
9,2012-01-01,37100,1986,2012,신흥동,주공고층,1,1~10,61.520,10,41131,5,경기도,성남시 수정구,창업로57번길,경기도 성남시 수정구,603.055917,18.609829,60m이하

In [23]:
df.groupby(['date','규모']).mean().reset_index().head(10)

,date,규모,거래금액,전용면적,층,평당거래액,평수
0,2012-01-01,60m이하,27592.857143,56.766986,6.142857,474.614537,17.172040
1,2012-01-01,60-85m2이하,30707.894737,81.470584,7.421053,376.015030,24.644890
2,2012-01-01,85m2초과,44666.666667,120.363833,7.666667,366.223960,36.410116
3,2012-02-01,60m이하,24041.666667,55.353333,6.583333,424.751808,16.744409
4,2012-02-01,60-85m2이하,31136.000000,81.574596,8.560000,382.541740,24.676354
5,2012-02-01,85m2초과,60000.000000,136.640000,9.000000,439.110070,41.333664
6,2012-03-01,60m이하,15250.000000,43.305000,5.500000,339.999416,13.099783
7,2012-03-01,60-85m2이하,29645.238095,80.926314,6.190476,366.135465,24.480248
8,2012-03-01,85m2초과,43725.000000,118.811750,9.500000,370.259555,35.940610
9,2012-04-01,60m이하,22460.000000,51.431000,5.600000,420.384412,15.557902

# Pivot
  * https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html

In [24]:
df2 = df.groupby(['date','규모']).mean().reset_index().pivot(index='date', columns='규모', values='평당거래액')
print (df2.head(10))

규모               60m이하   60-85m2이하      85m2초과
date
2012-01-01  474.614537  376.015030  366.223960
2012-02-01  424.751808  382.541740  439.110070
2012-03-01  339.999416  366.135465  370.259555
2012-04-01  420.384412  370.554352  421.086728
2012-05-01  390.476124  409.276764  346.743721
2012-06-01  379.004096  362.729139  375.915378
2012-07-01  383.980805  351.345496         NaN
2012-08-01  426.573714  381.783705  339.780450
2012-09-01  498.148552  428.242518  299.861653
2012-10-01  440.104561  416.473727  398.966793